body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;

}

input, select, button {
    padding: 10px;
    margin: 10px;
}

textarea {
    width: 80%;
    height: 100px;
}
